* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #374f59;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header__wrapper .header__avatar {
  background-color: #cbe5ef;
  padding: 40px 60px;
  flex-basis: 45%;
}
.header__wrapper .header__content {
  padding: 40px 60px;
  flex-basis: 55%;
}
.header__wrapper .header__img {
  display: block;
  margin: 0 auto;
  width: 65%;
  border-radius: 50%;
}
.header__content .header__title {
  font-size: 54px;
  font-weight: 600;
  margin: 35px 0 20px;
}
.header__content .header__subtitle {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.main {
  flex-grow: 1;
}
.row {
  display: flex;
  justify-content: space-between;
}
.block-section {
  margin-bottom: 50px;
}
.columm {
  padding: 40px 60px;
}
.columm-left {
  flex-basis: 45%;
  background-color: #cbe5ef;
  border-radius: 0 0 220px 220px;
  padding-bottom: 100px;
}
.columm-right {
  flex-basis: 55%;
}
.title {
  margin: 0 0 20px;
  font-size: 26px;
  text-transform: uppercase;
}
.edu {
  font-weight: 600;
  font-size: 20px;
}
.description {
  font-size: 17px;
}
.contact__list {
  margin: 0;
  padding: 0;
}
.contact__item {
  list-style-type: none;
  margin-bottom: 10px;
}
.contact__highlight {
  font-weight: 600;
}
.contact__link {
  color: #374f59;
  text-decoration: none;
}
.contact__link:hover {
  border-bottom: 1px solid #374f59;
}
.block__list {
  margin: 0;
  padding-left: 20px;
}
.block__item {
  margin-bottom: 6px;
}
.portfolio-item {
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #374f59;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 8px;
}
